<article class="a1">
  <div class="jumbotron">
    <h2>TITLE</h2>
    <p>sample sample sample ... </p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">BUTTON</a></p>
  </div>
  <h1>article1</h1>
        <ul class="row_1">
            <li class="col-sm-6 col-md-3">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">title1</h3>
                  </div>
                  <div class="panel-body">content1</div>
                </div>
            </li>
            <li class="col-sm-6 col-md-3">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">title2</h3>
                </div>
                <div class="panel-body">content2</div>
              </div>
            </li>
            <li class="col-sm-6 col-md-3">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">title3</h3>
                </div>
                <div class="panel-body">content3</div>
              </div>
            </li>
            <li class="col-sm-6 col-md-3">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">title4</h3>
                </div>
                <div class="panel-body">contents4</div>
              </div>
            </li>
        </ul>
</article>
<article class="a1">
  <h1>article2</h1>
        <ul class="row_2">
            <li class="col-sm-4 col-md-2">
              <div class="panel panel-success">
                <div class="panel-heading">
                  <h3 class="panel-title">title1</h3>
                  </div>
                  <div class="panel-body">content1</div>
                </div>
            </li>
            <li class="col-sm-4 col-md-2">
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h3 class="panel-title">title2</h3>
                  </div>
                  <div class="panel-body">content2</div>
                </div>
            </li>
            <li class="col-sm-4 col-md-2">
              <div class="panel panel-danger">
                <div class="panel-heading">
                  <h3 class="panel-title">title3</h3>
                  </div>
                  <div class="panel-body">content3</div>
                </div>
            </li>
            <li class="col-sm-4 col-md-2">
              <div class="panel panel-success">
                <div class="panel-heading">
                  <h3 class="panel-title">title4</h3>
                  </div>
                  <div class="panel-body">content4</div>
                </div>
            </li>
            <li class="col-sm-4 col-md-2">
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h3 class="panel-title">title5</h3>
                  </div>
                  <div class="panel-body">content5</div>
                </div>
            </li>
            <li class="col-sm-4 col-md-2">
              <div class="panel panel-danger">
                <div class="panel-heading">
                  <h3 class="panel-title">title6</h3>
                  </div>
                  <div class="panel-body">content6</div>
                </div>
            </li>
        </ul>
</article>
